.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  font-weight: 500;
  font-family: "Inter", "Ariel", sans-serif;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}
